POSTGRES_HOST=localhost
POSTGRES_PORT=6532
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mirror
PUBLISH_GENERATED_COLUMNS=stored
XTDB_HOST=localhost
XTDB_PORT=6533
XTDB_HEALTHZ_PORT=6580
XTDB_USER=xtdb
XTDB_DB=xtdb
XTDB_REMOTE=mirror_pg
USE_CASES_DIR=use-cases
XTDB_CONTAINER=mirror-poc-xtdb
